*{margin: 0px; padding: 0px}
h1{font: bold 50px consolas, sans-serif;}
a:link {text-decoration: none; color: #000000;}
a:visited {text-decoration: none; color: #000000;}
a:active {text-decoration: none; color: #000000;}
a:hover {text-decoration: none; font-weight: bold; color: #000000;}
header, section, footer, aside, time, nav, article, figure, figcaption, hgroup{display: block;}
body{text-align: center;}

#empty {
    width: 100%;
    border: 0;
    height: 300px;
    margin: 20px;
}

#wrapper{
   width: 1800px;
   margin: 15px auto;
   text-align: left;
 }


#main_menu{padding:5px 15px;}
#main_menu span{
   display: inline-block;
   list-style: none;
   padding: 5px;
   font: 25px consolas, sans-serif;
   float: left;
   margin-left: 40px;
   text-align: center;
}

#header{
   top: 0;
   left: 0;
   right: 0;
   
   height: 75px;
   padding: 1rem;
   display: flex;
   align-items: center;
}

/*home*/
#home_whole{
	width: 1000px;
	margin: 0 auto;
	margin-top: 250px;
}
#home_info{
	width: 500px;
	float: left;	
}
#home_sign{
	width: 500px;
	float:left;
}
#home_info_text{
	padding-top: 50px;
	font: 20px consolas, sans-serif;

}
/*home end*/

/*result*/
.wrap{
	width: 1800px;
	height: 850px;
	overflow-x: scroll;
	white-space:nowrap;
  }

.wrap div{
	width:30%;height:70%;
	text-align:center; 
	padding-top:80px; 
	margin:80px;
	display: inline-block;
	vertical-align: top;
}
/*result end*/

/*button*/

.button {
	display: inline-block;
	width: 200px;
	height: 54px;
	text-align: center;
	text-decoration: none;
	line-height: 54px;
	outline: none;
}
.button::before,
.button::after {
	position: absolute;
	z-index: -1;
	display: block;
   content: '';
   
}
.button,
.button::before,
.button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.button {
	background-color: #fff;
   border-color: #424242;
   border: 10px;
	color: #424242;
   line-height: 50px;
   line-color : #424242;
}
.button:hover {
	background-color: #ebfbff;
	border: 2px solid #98dfff;
	color: #424242;
}
/*button end*/

/*input*/

#input_title {
	width:200px;
	height:100px;
	font-size:20px;
}

  /*input end*/

