@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

* {
  box-sizing: border-box;
  /*font: consolas, sans-serif;
    폰트설정하는 법 더 찾아보기*/
  padding: 0;
  margin: 0;
}

/*일단 app.js를 div로 감싸긴 했는데 이게 맞는지는 모르겟음 대충 확인 부탁
  이거 한 이유는 창 줄어드는거랑 상관없이 고정됐으면 해서*/
#wrapper{
  width: 1800px;
  margin: 15px auto;
  text-align: left;
}

a:link {text-decoration: none; color: #000000;}
a:visited {text-decoration: none; color: #000000;}
a:active {text-decoration: none; color: #000000;}
a:hover {text-decoration: none; font-weight: bold; color: #000000;}

.App {
    text-align: center;
}

/* .navi{
    font-size: 40px;
    padding-top: 60px;
    padding-bottom: 30px;
    float: left;
    width: 600px;
    text-align: center; 
    font-family: "Consolas";
    border-bottom:5px solid #d9d9d9;
} */

#Nav_img{
  padding-top: 60px;
  padding-bottom: 11px;
  font-size: 62px;
  font-weight: bold;
  font-family: "Consolas";
  float: left;
  width: 200px;
  text-align: right;
  border-bottom:5px solid #d9d9d9; 
}

#Title{
  padding-top: 65px;
  padding-bottom: 32px;
  font-size: 75px;
  font-weight: bold;
  font-family: "Consolas";
  float: left;
  width: 600px;
  text-align: left;
  border-bottom:5px solid #d9d9d9; 
}

#Nav1{
  font-size: 40px;
  padding-top: 78px;
  padding-bottom: 54px;
  font-family: "Consolas";
  float: left;
  width: 500px;
  text-align: center;
  border-bottom:5px solid #d9d9d9; 
}



form{
    content:'';
    display:block;
    clear:both;
    text-align: right; 
 }

 .footer {

    position:absolute;
    left:0px;
    bottom:0;
    width:100%;
    height:70px;
    padding:10px 0;
    border-top:1px solid #d9d9d9;
    font-size:20px;
    background-color:#f1f1f1;
    text-align:center;
    color:#888
}

box{
    display:inline-block;
    width:100px;
    height:100px;
    border:1px solid black;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
    
