@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";


/*App.js*/
#init{
  width: 1800px;
  margin: 15px auto;
  text-align: center;
  font-size: 50px;
}

#intro_img{
  width : 1000px;
  text-align: left;
  font-size: 200px;
  margin-left : 300px;
  color:#ffffff;
  font-family: "Consolas";
  display:flex;
}

#intro{
  width: 1000px;
  margin: 10px auto;
  text-align: left;
  font-size: 30px;
  font-family: "Consolas";
  margin-right : 500px;
  display:flex;
}

#new_line{
  width : 1000px;
  text-align: left;
  font-size: 50px;
  margin-left : 300px;
  color:#ffffff;
  font-family: "Consolas";
  display:flex;
}

#layout {
  position: relative;
  top: -400px;

}

#welcome {
  position: relative;
  top: -400px;
  margin-left : 1070px;
  margin-bottom : 30px;
  font-size: 70px;
  font-family: "Consolas";
}

a:link {text-decoration: none; color: #000000;}
a:visited {text-decoration: none; color: #000000;}
a:active {text-decoration: none; color: #000000;}
a:hover {text-decoration: none; font-weight: bold; color: #000000;}

.App {
    text-align: center;
}
/*App.js end*/


/*Navigation.js*/
#Nav_img{
  padding-top: 55px;
  padding-bottom: 11px;
  font-size: 62px;
  font-weight: bold;
  font-family: "Consolas";
  float: left;
  width: 200px;
  text-align: right;
  border-bottom:5px solid #d9d9d9; 
}

#Title{
  padding-top: 69px;
  padding-bottom: 40px;
  font-size: 58px;
  font-weight: bold;
  font-family: "Consolas";
  float: left;
  width: 450px;
  text-align: center;
  border-bottom:5px solid #d9d9d9; 
}

#Nav1{
  font-size: 35px;
  padding-top: 78px;
  padding-bottom: 54px;
  font-family: "Consolas";
  float: left;
  width: 370px;
  text-align: center;
  border-bottom:5px solid #d9d9d9; 
}
/*Navigation.js end*/



 /*Footer.js*/
 .footer {
    position:block;
    left:0px;
    bottom:0;
    width:100%;
    height:30px;
    padding:10px 0;
    border-top:1px solid #d9d9d9;
    font-size:20px;
    background-color:#f1f1f1;
    text-align:center;
    color:#888
}
 /*Footer.js end*/


 /* Auth.js */
 .authcontainer {
  width: 500px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  margin-left : 1250px;
  padding-top : 0%;
  justify-content: center;
  align-items: center;
}

.authInput {
  max-width: 320px;
  width: 500px;
  padding: 10px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  font-size: 25px;
  color: black;
  box-sizing: content-box;

}

.authSubmit {
  text-align: center;
  background: #04aaff;
  color: white;
  margin-top: 10px;
  box-sizing: content-box;
  cursor: pointer;
}

.authError {
  color: tomato;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
}

.authSwitch {
  color: #04aaff;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 50px;
  display: block;
  font-size: 20px;
  text-decoration: underline;
  /*authcontainer*/
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  margin-left : 1250px;
  justify-content: center;
  align-items: center; 
}
 /* Auth.js end */


box{
    display:inline-block;
    width:100px;
    height:100px;
    border:1px solid black;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
    
form{
  content:'';
  display:block;
  clear:both;
  text-align: right; 
}


/* Dailylog.js*/
textarea{
    width:800px; 
    height:200px; 
    resize:none;  
    -ms-overflow-style: none;
    flex-grow: 1;
    height: 40px;
    padding: 20px 0px 300px 20px;
    color: rgb(0, 0, 0);
    border: 5px solid #04aaff;
    border-radius: 20px;
    font-weight: 500;
    font-size: 20px;
    font-family: "input"
}
::-webkit-scrollbar { display: none; }

.dailylogForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
  
.dailylogInput__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 20px;
    margin-top: 30px;
}

.dailylogInput__input {
    flex-grow: 1;
    height: 40px;
    padding: 20px 0px 300px 20px;
    color: rgb(0, 0, 0);
    border: 5px solid #04aaff;
    border-radius: 20px;
    font-weight: 500;
    font-size: 20px;
}
  
.dailylogInput__arrow {
    position: relative;
    right: 0;
    background-color: #04aaff;
    height: 50px;
    width: 100px;
    padding: 10px 0px;
    text-align: center;
    border-radius: 20px;
    color: white;
    box-sizing: border-box;
    margin-left: 250px;
}
  
.dailylogInput__label {
    color: #04aaff;
    cursor: pointer;
}
  
.dailylogInput__label span {
    margin-right: 10px;
    font-size: 12px;
}

.pain__input{
  flex-grow: 1;
  height: 40px;
  padding: 0px 20px 0px 70px;
  color: rgb(0, 0, 0);
  border: 2px solid #04aaff;
  border-radius: 20px;
  font-weight: 500;
  font-size: 20px;
}
.pain span{
  padding-left: 20px;
}
 /* Dailylog.js end*/



/* Record.js */
.record_container {
  margin-top: 20px;
  background-color: rgb(144, 175, 171);
  width: 100%;
  max-width: 700px;
  padding: 20px;
  border-radius: 10px;
  /*display: flex;*/
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
  margin-left: 550px;
  }

  .record_BtnContainer{
    margin-bottom: 20px;
    background-color: rgb(144, 175, 171);
    width: 100%;
    max-width: 700px;
    padding: 0px 20px 20px 20px;
    border-radius: 10px;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 550px;
}

.record_formInput {
    width: 100%;
    padding: 20px 20px;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    background-color: white;
    color: black;
}

.record_editBtn {
    width: 130px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #04aaff;
    margin-left: 5px;
    margin-top : 20px;
    padding: 3px
  }

.record_deleteBtn {
    width: 130px;
    border-radius: 20px;
    cursor: pointer;
    background-color: tomato;
    margin-left: 5px;
    padding: 3px
}

.recordEdit{
  background-color: #175574;
  justify-content: center;
}

.recordEdit .record_editBtn {
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 5px;
}
  
.record {
    margin-bottom: 20px;
    background-color: rgb(178, 199, 178);
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.8);
}
  
.record h4 {
    font-size: 20px;
}
  
.editUpdateBtn {
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    padding: 7px 20px;
    text-align: center;
    color: white;
    border-radius: 20px;
    background-color: #04aaff;
  }

.editCancelBtn {
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  padding: 7px 20px;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: tomato;
  }
/* Record.js end*/

    
/* Diagnosis.js */
.diagnosisForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
  
.diagnosisInput__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 20px;
    margin-top: 30px;
    width: 90%;
}
  
.diagnosisInput__input {
    flex-grow: 1;
    height: 40px;
    padding: 0px 20px;
    color: black;
    border: 5px solid #04aaff;
    border-radius: 20px;
    font-weight: 500;
    font-size: 20px;
}

.diagnosisInput__arrow {
    position: absolute;
    right: 0;
    background-color: #04aaff;
    height: 50px;
    width: 90px;
    padding: 10px 0px;
    text-align: center;
    border-radius: 20px;
    color: white;
    box-sizing: border-box;
}

.diagnosisInput__label {
    color: #04aaff;
    font-weight: 400;
    cursor: pointer;
}

.diagnosisInput__label span {
    margin-right: 10px;
    font-size: 20px;
}

.diagnosisForm__attachment {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.diagnosisForm__attachment img {
    width: 200px;
    border-radius: 40px;
}

.diagnosisForm__clear {
    color: #04aaff;
    cursor: pointer;
    text-align: center;
}

.diagnosisForm__clear span {
    margin-right: 10px;
    font-size: 20px;
}
/*Diagnosis.js end*/
    
    
/* Result.js */
.container {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
}

.result_formInput {
  width: 100%;
  padding: 20px 20px;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  color: black;
}

.result_editBtn {
  width: 130px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #04aaff;
  margin-left: 5px;
  margin-top : 20px;
  padding: 3px
}

.result_deleteBtn {
  width: 130px;
  border-radius: 20px;
  cursor: pointer;
  background-color: tomato;
  margin-left: 5px;
  padding: 3px
}

.resultEdit .result_editBtn {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 5px;
}

.result {
  margin-bottom: 20px;
  background-color: rgb(178, 199, 178);
  width: 100%;
  max-width: relative;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.8);
}

.result h4 {
  font-size: 20px;
}

.editUpdateBtn {
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  padding: 7px 20px;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: #04aaff;
  cursor: pointer;
}

.editCancelBtn {
  cursor: pointer;
  background-color: tomato;
}

.result img {
  /*right: -10px;
  top: 20px;*/
  position: relative;
  /*border-radius: 50%;*/
  width: 1000px;
  margin-top: 10px;
}

.result__actions {
  position: absolute;
  right: 10px;
  top: 10px;
}

.result__actions span {
  cursor: pointer;
}

.result__actions span:first-child {
  margin-right: 10px;
}
/* Result.js end*/


/* Profile.js*/
.logout {
  max-width: 320px;
  width: 500px;
  padding: 10px;
  border-radius: 30px;
  background: #04aaff;
  margin-bottom: 10px;
  font-size: 25px;
  color: black;
  box-sizing: content-box;
  margin-right : 200px;
}

.logoutSubmit {
  text-align: center;
  background: #04aaff;
  color: white;
  margin-top: 10px;
  box-sizing: content-box;
  cursor: pointer;
  margin-left : 200px;
}
/* Profile.js end */

    
/* Select.js */
#search_temp{
  width:1000px;
  padding-top : 30px;
  margin: 10px auto;
  text-align: center;
  font-size: 30px;
  font-family: "Consolas";
  margin-right : 800px;
  display:block;
  color:#ffffff;
}

#search_input{
  width:1000px;
  margin: 10px auto;
  text-align: center;
  font-size: 30px;
  font-family: "Consolas";
  margin-right : 800px;
  display:block;
  color:#808080;
}

#select_tag{
  text-align: left;
  font-size: 30px;
  font-family: "Consolas";
}
/* Select.js end */


/* PainGraph.js */
.painGraph{
  width : 500px;
  margin-top: 50px;
  margin-left : 650px;
}
/* PainGraph.js end */

